@import "tailwindcss";

@theme {
  --color-customcyan: #49BBBD;
    --color-customblue: #7ECCCD;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

body {
  min-height: 100vh;
  background: #f0f0f0;
}

.app {
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.story-selection {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 2rem;
}

